# CFG80211
CONFIG_CFG80211=y
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211=y

# brcmfmac + SDIO (lo crítico)
CONFIG_BRCMFMAC=m
CONFIG_BRCMFMAC_SDIO=y
CONFIG_BRCMFMAC_PROTO_BCDC=y
CONFIG_BRCMFMAC_SDIO_OOB_IRQ=y
CONFIG_BRCMUTIL=m

# Regulatory
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n

# rfkill
CONFIG_RFKILL=y
CONFIG_RFKILL_INPUT=y
